#include "dragonfly_resource.h"
#include "afxres.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

IDD_REVERB_DIALOG DIALOGEX 0, 0, 388, 272
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dragonfly Hall Reverb"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX "Hall Reverb", IDC_STATIC, 6, 6, 376, 230

    LTEXT "Dry",             IDC_STATIC,  8,  20, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_DRY,      "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 16, 222, 16
    LTEXT "---", IDC_DRYT,   352,  20, 32, 8

    LTEXT "Early",           IDC_STATIC,  8,  46, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_EARLY,    "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 42, 222, 16
    LTEXT "---", IDC_EARLYT, 352,  46, 32, 8

    LTEXT "Late",            IDC_STATIC,  8,  72, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_LATE,     "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 68, 222, 16
    LTEXT "---", IDC_LATET,  352,  72, 32, 8

    LTEXT "Room Size (m)",   IDC_STATIC,  8,  98, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_SIZE,     "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 94, 222, 16
    LTEXT "---", IDC_SIZET,  352,  98, 32, 8

    LTEXT "Decay (s)",       IDC_STATIC,  8, 124, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_DECAY,    "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 120, 222, 16
    LTEXT "---", IDC_DECAYT, 352, 124, 32, 8

    LTEXT "Diffuse",         IDC_STATIC,  8, 150, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_DIFFUSE,  "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 146, 222, 16
    LTEXT "---", IDC_DIFFUSET,352, 150, 32, 8

    LTEXT "High Cut (Hz)",   IDC_STATIC,  8, 176, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_HIGHCUT,  "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 172, 222, 16
    LTEXT "---", IDC_HIGHCUTT,352, 176, 32, 8

    LTEXT "Pre-delay (ms)",  IDC_STATIC,  8, 202, 114, 8, 0, WS_EX_RIGHT
    CONTROL "", IDC_PREDELAY, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126, 198, 222, 16
    LTEXT "---", IDC_PREDELAYT,352, 202, 32, 8

    PUSHBUTTON    "Reset", IDC_RESET,  270, 250, 50, 14
    DEFPUSHBUTTON "Close", IDCANCEL,   330, 250, 50, 14
END

#endif
