// Microsoft Visual C++ generated resource script.
//
#include "resource1.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
    "resource1.h\0"
END
2 TEXTINCLUDE
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END
3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END
#endif

IDD_DIALOG1 DIALOGEX 0, 0, 388, 334
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Prism"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Reset", IDC_RESET, 270,318,50,14
    DEFPUSHBUTTON   "Close", IDCANCEL,  330,318,50,14

    GROUPBOX "Core", IDC_STATIC, 6,6, 376,224

    LTEXT "Amount",             IDC_STATIC,    8, 20, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_AMOUNT, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,16, 222,16
    LTEXT "---", IDC_AMOUNTT,  352,20, 32,8

    LTEXT "Wrap (0-360 deg)",   IDC_STATIC,    8, 46, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_WRAP, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,42, 222,16
    LTEXT "---", IDC_WRAPT,    352,46, 32,8

    LTEXT "Front Lock",         IDC_STATIC,    8, 72, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_FRONTLOCK, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,68, 222,16
    LTEXT "---", IDC_FRONTLOCKT, 352,72, 32,8

    LTEXT "Rear / Ambience",    IDC_STATIC,    8, 98, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_REAR, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,94, 222,16
    LTEXT "---", IDC_REART,  352,98, 32,8

    LTEXT "Focus vs Bubble",    IDC_STATIC,    8,124, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_FOCUS, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,120, 222,16
    LTEXT "---", IDC_FOCUST, 352,124, 32,8

    LTEXT "Bass Anchor",        IDC_STATIC,    8,150, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_BASSANCHOR, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,146, 222,16
    LTEXT "---", IDC_BASSANCHORT, 352,150, 32,8

    LTEXT "Soft Objects",       IDC_STATIC,    8,176, 114,8, 0,WS_EX_RIGHT
    CONTROL "", IDC_OBJECTS, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 126,172, 222,16
    LTEXT "---", IDC_OBJECTST, 352,176, 32,8

    CONTROL "Redirect bass to LFE (.1) channel (20-80 Hz)", IDC_REDIR, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 12,204, 220,10

    GROUPBOX "Advanced", IDC_STATIC, 6,234, 376,78

    CONTROL "Scene Memory", IDC_ENABLE_SCENEMEM, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 14,250, 110,10
    CONTROL "", IDC_SLIDER_SCENEMEM, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 128,246, 216,16
    LTEXT "---", IDC_VAL_SCENEMEM, 350,250, 34,8

    CONTROL "Height Synth", IDC_ENABLE_HEIGHT, "Button", BS_AUTOCHECKBOX|WS_TABSTOP, 14,270, 110,10
    CONTROL "", IDC_SLIDER_HEIGHT, "msctls_trackbar32", TBS_AUTOTICKS|TBS_BOTH|WS_TABSTOP, 128,266, 216,16
    LTEXT "---", IDC_VAL_HEIGHT, 350,270, 34,8
END

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOG1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 381
        TOPMARGIN, 7
        BOTTOMMARGIN, 327
    END
END
#endif

#endif
